<% if logged_in? %>
  <div class="new-piece-link">
    <%= link_to "Add new piece", new_artwork_path %>
  </div>
  <div class="new-piece-link">
    <%= link_to "Add new gallery", new_gallery_path %>
  </div>
<% end %>

<div class="artworks-index">
  <%= render @artworks %>
  <%= render @galleries %>
</div>