/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a:link {
  font-family: 'Alegreya Sans SC', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #63819b;
}

a:visited {
  font-family: 'Alegreya Sans SC', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #63819b;
}

.about-my-face {
  text-align: center;
  margin: 50px;
}

.about-text {
  width: 800px;
  position: absolute;
  left: 0;
  right: 0;

  margin: auto;
  margin-bottom: 100px;
}

.artwork-new-form {
  width: 100px;
  height: 100px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.artwork-title {
  display: inline-block;
  font-size: 150%;
  margin-left: 300px;
}

.artwork-thumb {
  margin: 50px;
}

.artwork-piece {
  text-align: center;
  margin: 50px;
}

.artwork-statement {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.artworks-index {
  display: flex;
  flex-wrap: wrap;
  margin: 100px;
  text-align: center;
}

body {
  background-color: #efeeea;
}

.button-next {
  float: right;
  margin-bottom: 100px;
}

.button-previous {
  float: left;
  margin-bottom: 100px;
}

img {
  max-width: 800px;
}

.image-thumbnail {
  max-width: 50%;
}

.login-form {
  width: 100px;
  height: 100px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.nav-bar {
  background-color: #3ef9b2;
}

.nav-bar nav {
  align-content: center;
  padding-bottom: 5px;
}

.nav-container {
  display: flex;
  padding-top: 35px;
  padding-left: 200px;
  padding-right: 300px;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}

.navbar-list {
  list-style-type: none;
}

.navbar-list .nav-item {
  display: inline;
  padding-left: 20px;
  font-size: 120%;
}

.navigation-buttons {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.new-piece-link {
  text-align: center;
}

.page-wrapper {
  margin-top: 40px;
  font-family: 'Lato', sans-serif;
}

@media all and (max-width: 800px) {
  .navigation {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

@media all and (max-width: 500px) {
  .navigation {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}