/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a:link {
  font-family: 'Alegreya Sans SC', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #63819b;
}

a:visited {
  font-family: 'Alegreya Sans SC', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #63819b;
}

body {
  background-color: #efeeea;
}

.nav-bar nav {
  align-content: center;
  padding-bottom: 5px;
}

.nav-container {
  display: flex;
  padding-top: 35px;
  padding-left: 200px;
  padding-right: 300px;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}

.nav-links {
  display: flex;
  flex-direction: row;
}

.navbar-list {
  list-style-type: none;
}

.navbar-list .nav-item {
  padding-left: 20px;
  font-size: 120%;
}

.page-wrapper {
  margin-top: 40px;
  font-family: 'Lato', sans-serif;
}

@media all and (max-width: 800px) {
  .navigation {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

@media all and (max-width: 500px) {
  .navigation {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}